<div class="modal-header text-center eb-garamond">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title" id="myModalLabel">
        University of California, Santa Barbara
    </h2>
    <h3 class="modal-title" id="myModalLabel">
        Department of Music
    </h3>
</div>
<div class="modal-body">
<div class="row">
<div class="col-sm-5">
<h4>Highlights</h4>
<ul>
    <li>BA in Music Theory</li>
    <li>9 Math and Java Courses</li>
    <li>6 <strong>French</strong> and <strong>German</strong> Courses</li>
    <li>Member of <strong>Fencing</strong> Club</li>
    <li>Percussion Ensemble (Marimba)</li>
    <li>Cappella Choir (Baritone)</li>
</ul>
</div>
<div class="col-sm-7 h4">
    I excelled in mathematics in high school and was accepted to the <strong>physics</strong>
    department at UCSB. I took many math and science courses but having played
    piano and flute since fifth grade I was also interested in music.
    I became more and more involved in the music department and eventually walked
    away with a B.A. degree in <strong>music theory</strong>.
    <br><br>
    I started learning <strong>Java</strong> programming during this time. The
    emphasis was on basic <strong>data structures</strong> and <strong>sequential data files</strong>.
    In my free time I was an avid <strong>marimbist</strong> and studied <strong>fencing</strong>.
</div>
</div>
</div>
