<div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title eb-garamond" id="myModalLabel">Udacity</h2>
    <h3 class="modal-title eb-garamond" id="myModalLabel">Front-End Web Developer Nanodegree</h3>
    <h3 class="modal-title eb-garamond" id="myModalLabel">Full Stack Web Developer Nanodegree</h3>
</div>
<div class="modal-body">
<div class="row">
<div class="col-sm-5">
<h4>Topics Studied</h4>
<ul>
    <li>Artificial Intelligence for Robotics</li>
    <li>Website Performance Optimization</li>
    <li>Object-Oriented JavaScript</li>
    <li>Bootstrap</li>
    <li>KnockoutJS</li>
    <li>Grunt</li>
    <li>Flask + SQLAlchemy</li>
    <li>Linux + Apache2 Server</li>
    <li>Server Configuration</li>
</ul>
</div>
<div class="col-sm-7 h4">
    I completed Udacity's <strong>Artificial Intelligence</strong> for Robotics course while in graduate
    school in Taiwan. It covered automated localization and mapping algorithms
    (<strong>SLAM, A<superscript>*</superscript></strong>) which was applicable
    to my research project.
    <br><br>
    Later, I was developing a database and business application for a chemical
    company and decided to advance my <strong>data-driven web</strong> skills by completing both
    of Udacity's
    <em>Front-End Developer</em> and <em>Full Stack Developer</em> series of
    courses and projects.
</div>
</div>
</div>
