<div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title eb-garamond" id="myModalLabel">University of Maryland University College</h2>
    <h3 class="modal-title eb-garamond" id="myModalLabel">Financial Management and Information Systems</h3>
</div>
<div class="modal-body">
<div class="row">
<div class="col-sm-6">
<h4>Courses</h4>
<ul>
    <li>Principles of Accounting I, II</li>
    <li>Accounting Software</li>
    <li>Taxation of Individuals</li>
    <li>Security Software and Hardware Assurance</li>
    <li>Financial Decision Making for Managers</li>
    <li>Financial Management for Organizations</li>
</ul>
</div>
<div class="col-sm-6 h4">
    While in the U.S. Navy, there was a time when I was interested in studying
    finance. I enrolled in a <strong>Master of Science</strong> program and took a few courses in
    <strong>accounting software</strong> and <strong>financial management</strong>.
</div>
</div>
</div>
