<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script type="text/javascript" src="js/knockout-3.3.0.js"></script>
    
    <% include _templates/header %> 

    <script id="live-reload" src="http://localhost:35729/livereload.js"></script>
    <script src="app.js"></script>
</body>

</html>