<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/knockout-3.3.0.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5">
                <div class="row">
                    <div class="col-sm-12 col-xs-5">
                        <% include _templates/headshot %>
                    </div>
                    <div class="col-sm-12 col-xs-7">
                        <% include _templates/interests %>
                        <% include _templates/education %>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 hidden-xs">
                        <% include _templates/quote_carousel %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-xs">
                        <% include _templates/bio_summary %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <% include _templates/broad_skills %>
                        <% include _templates/projects %>
                    </div>
                    <div class="col-md-4">
                        <% include _templates/versatility %>
                        <% include _templates/hobbies %>
                        <% include _templates/artistry %>
                    </div>
                    <div class="col-md-4">
                        <% include _templates/skills %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<!--    <script src="app.js"></script>-->

    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>

</body>

</html>
