body {
    background-color: #000030;
    font-family: calibri;
}

.semi-trans {
    background-color: rgba(69, 69, 142, 0.5);
    color: aliceblue;
}

.share-tech-mono {font-family: 'Share Tech Mono' !important;}

.eb-garamond {font-family: 'EB Garamond', serif !important;}

.panel {
    border: 4px outset;
    border-radius: 10px;
/*    padding: 6px;*/
    font-family: Helvetica;
    font-size: 14px;
}

div.outer {
/*    width: 300px;  some width amount needed */
    margin: 0 auto;
    overflow: visible;
}
div.inner {
    display: inline-block;
    position:relative;
    right: -50%;
}
div.inner img {
    position: relative;
    left:-50%;
}

ul {
    padding-left: 16px;
}

.progress-bar-high {
    background-color: darkblue
}

.progress-bar-low {
    background-color: cornflowerblue
}

a:hover, td:hover {
    cursor: pointer
}

.table {
    margin-bottom: 0px
}

.tooltip-inner {
    background-color: rgb(74, 29, 149);
}

.tooltip-arrow {
    opacity: 0
}

#headshot-panel > a {
    position: absolute;
    bottom: 25px;
    background-color: rgba(0, 140, 90, 0.0);
    padding: 0px 3px;
    border: 0px;
}

#headshot-panel > a > i {
    transition: all .15s ease-in-out;
}

#headshot-panel:hover > a > i {
    font-size: 4em
}
