<div class="panel panel-default">
  <div class="panel-heading share-tech-mono text-center">
    <strong>Artistic Skills</strong>
  </div>
  <div class="panel-body" style="padding: 4px">
    <ul>
      <li>Photography <a type="button" class="btn btn-xs btn-primary" href="https://plus.google.com/103462204803093999285/posts"><img width="20px" src="img/logo-google-plus-white.svg"></i></a></li>
        <li>Computer art <a type="button" class="btn btn-xs btn-primary" href="http://codepen.io/Ripley6811/"><i class="fa fa-codepen fa-lg"></i></a></li>
      <li>Ceramic art</li>
      <li>Music</li>
      <li>Dance</li>
    </ul>
  </div>
</div>
