
<div class="jumbotron h4 text-center" style="padding: 20px 60px">
  Jay W J is an ex-<strong>Navy Chinese linguist</strong> and
  <strong>remote sensing researcher</strong> transitioning to a
  career in <strong>software and full-stack development</strong>.
  He is particularly interested in scientific computing, image processing
  and database applications and has experience with scripting and writing
  GUIs in multiple programming languages.
</div>
