<div class="panel panel-default">
  <div class="panel-heading share-tech-mono text-center">
    <h4><strong>Favorite Tools</strong></h4>
  </div>
  <div class="panel-body" style="padding: 0px">
    <table class="table table-condensed table-hover">
      <tbody>
        <tr>
          <td>
            <strong>Python / NumPy</strong> for scientific exploration
          </td>
        </tr>
        <tr>
          <td>
            <strong>KnockoutJS</strong> and <strong>React/Redux</strong> for frontend
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
