<div class="panel panel-default">
  <div class="panel-heading share-tech-mono text-center">
    <strong>I Can ...</strong>
  </div>
  <div class="panel-body" style="padding: 0px">
    <table class="table table-condensed table-hover">
      <tbody>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="Linux, Apache2, MySQL, Python (LAMP)">
            Configure an Apache Server
          </td>
        </tr>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="MySQL, PostgreSQL, Design, Migration">
            Develop a SQL Database
          </td>
        </tr>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="JavaScript, KnockoutJS">
            Write a Data-Driven Front-End
          </td>
        </tr>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="OpenCV+Python, VPython">
            Process Image/Video Data
          </td>
        </tr>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="SailsJS+Waterline, Flask+SQLAlchemy, GAE">
            Create a Full-Stack Web App
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
