
<div id="education-panel-body" data-bind="foreach: edu_data">
    <a data-toggle="modal"
       data-bind="attr: {'data-target': '#' + school}">
        <img data-bind="attr: {src: img.src, width: img.width, title: title}"
             data-toggle="tooltip"
             data-placement="top">
    </a>

    <div class="modal fade" tabindex="-1" role="dialog"
         data-bind="attr: {id: school}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title eb-garamond" data-bind="text: title"></h2>
                    <h3 class="modal-title eb-garamond" data-bind="text: subtitle"></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-5" data-bind="html: highlights"></div>
                        <div class="col-sm-7 h4" data-bind="html: description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var edu_data = ko.observableArray(),
        req = new XMLHttpRequest();

    // Get education json data for array.
    req.onreadystatechange = function () {
        if ((req.readyState == 4) && (req.status == 200)) {  // if DONE and SUCCESS
            var data = JSON.parse(req.responseText);
            // Add each school data to KO array
            data.schools.forEach(function (each) {edu_data.push(each);});
        }
    };
    req.open("GET", "_templates/education/data.js", true);
    req.send();

    // Apply bindings to this content
    ko.applyBindings(this, document.getElementById('education-panel-body'));
</script>


