<a data-toggle="modal" data-target="#myUCSB">
    <img src="img/ucsbwave_140.jpg"
         width="100"
         data-toggle="tooltip"
         data-placement="top"
         title="University of California, Santa Barbara">
</a>
<a data-toggle="modal" data-target="#myNCKU">
    <img src="img/NCKU_logoword_140.png"
         width="140"
         data-toggle="tooltip"
         data-placement="top"
         title="National Cheng Kung University">
</a>
<a data-toggle="modal" data-target="#myHPU">
    <img src="img/HPU_symbol.png"
         width="78"
         data-toggle="tooltip"
         data-placement="top"
         title="Hawai'i Pacific University">
</a>
<a data-toggle="modal" data-target="#myDLI">
    <img src="img/DLI_shield_100.png"
         width="78"
         data-toggle="tooltip"
         data-placement="top"
         title="Defense Language Institute Foreign Language Center">
</a>
<a data-toggle="modal" data-target="#myUDAC">
    <img src="img/udacity_symbol.jpeg"
         width="78"
         data-toggle="tooltip"
         data-placement="top"
         title="Udacity">
</a>
<a data-toggle="modal" data-target="#myUMUC">
    <img src="img/umuc_logo.gif"
         width="110"
         data-toggle="tooltip"
         data-placement="top"
         title="University of Maryland, University College">
</a>
<a data-toggle="modal" data-target="#myJHU">
    <img src="img/johns_symbol.png"
         width="78"
         data-toggle="tooltip"
         data-placement="top"
         title="Johns Hopkins University">
</a>


<!-- Modal UCSB -->
<div class="modal fade" id="myUCSB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <% include _templates/education/modal_UCSB_content %>
        </div>
    </div>
</div>

<!-- Modal NCKU -->
<div class="modal fade" id="myNCKU" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <% include _templates/education/modal_NCKU_content %>
        </div>
    </div>
</div>

<!-- Modal HPU -->
<div class="modal fade" id="myHPU" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <% include _templates/education/modal_HPU_content %>
        </div>
    </div>
</div>

<!-- Modal DLI -->
<div class="modal fade" id="myDLI" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <% include _templates/education/modal_DLIFLC_content %>
        </div>
    </div>
</div>

<!-- Modal Udacity -->
<div class="modal fade" id="myUDAC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <% include _templates/education/modal_Udacity_content %>
        </div>
    </div>
</div>

<!-- Modal UMUC -->
<div class="modal fade" id="myUMUC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <% include _templates/education/modal_UMUC_content %>
        </div>
    </div>
</div>

<!-- Modal JHU -->
<div class="modal fade" id="myJHU" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <% include _templates/education/modal_JHU_content %>
        </div>
    </div>
</div>
