<div id="headshot-panel" class="panel"
     style="overflow: hidden; padding: 0px; height: 300px; max-width: 300px">
    <div class="inner">
        <img style="display: block; margin: auto" src="https://lh3.googleusercontent.com/-RHs_weXHS0c/AAAAAAAAAAI/AAAAAAAAML0/zfATVd_Qh2A/photo.jpg?sz=300" />
    </div>
    <a style="left: 20px" class="btn btn-success"
       href="https://www.linkedin.com/in/jaywj">
        <i class="fa fa-linkedin-square fa-2x"></i>
    </a>
    <a style="right: 20px" class="btn btn-success"
       href="https://github.com/Ripley6811">
        <i class="fa fa-github-square fa-2x"></i>
    </a>
</div>
