<div class="panel" style="overflow: hidden; padding: 0px; height: 300px; max-width: 300px">
  <div class="inner">
    <img style="display: block; margin: auto" src="https://lh3.googleusercontent.com/-RHs_weXHS0c/AAAAAAAAAAI/AAAAAAAAML0/zfATVd_Qh2A/photo.jpg?sz=300" />
  </div>
</div>
