<div class="panel panel-default"
     data-toggle="tooltip"
     data-placement="top"
     title="Hobbies that I will probably continue for many years to come">
  <div class="panel-heading share-tech-mono text-center">
    <strong>Life-long Learner</strong>
  </div>
  <div class="panel-body" style="padding: 4px">
    <ul>
      <li>Online Programming Courses</li>
      <li>Computational Science</li>
      <li>Chinese Mandarin & German</li>
      <li>Recurve Archery</li>
      <li>Piano</li>
    </ul>
  </div>
</div>
