<div class="panel panel-default">
  <div class="panel-heading share-tech-mono text-center">
    <strong>Life-long Learner</strong>
    <br>[Hobbies]
  </div>
  <div class="panel-body" style="padding: 4px">
    <ul>
      <li>Chinese Mandarin</li>
      <li>Recurve Archery</li>
      <li>Computational Science</li>
      <li>Online Courses</li>
      <li>Program optimization</li>
      <li>Piano</li>
    </ul>
  </div>
</div>
