<div class="panel panel-default">
  <div class="panel-heading share-tech-mono text-center">
    <strong>Interests</strong>
  </div>
  <div class="panel-body" style="padding: 4px">
    <ul>
      <li>Scientific Computing</li>
      <li>Data-driven Applications</li>
      <li>Remote Sensing & Sensors</li>
      <li>Structure From Motion</li>
    </ul>
  </div>
</div>
