<div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title eb-garamond" id="myModalLabel">Defense Language Institute</h2>
    <h3 class="modal-title eb-garamond" id="myModalLabel">Foreign Language Center</h3>
</div>
<div class="modal-body">
<div class="row">
<div class="col-sm-5">
<h4>Highlights</h4>
<ul>
    <li>Commencement Speaker</li>
    <li>AA Degree in Chinese Mandarin</li>
    <li>Top score on exit exam</li>
    <li>Marksmanship Medal (M9 Pistol)</li>
    <li>Peer tutoring</li>
</ul>
</div>
<div class="col-sm-7 h4">
    After getting a B.A. in Music Theory, I saw an ad about becoming a
    <strong>linguist</strong> for the <strong>U.S. Navy</strong> that
    required nothing but an aptitude for learning languages and of course being
    within physical fitness requirements. Get <em>paid to learn</em> a language, get in shape and <em>serve my country</em> all sounded great.
    I decided pretty quickly that I would join and pour myself into studying <strong>Chinese Mandarin</strong>.
    I finished at the top of my class and gave the <strong>commencement speech</strong> in Chinese.
    <br><br>
    I regularly tutored my peers and also compiled study materials, distributing disks to anyone who wanted them.
</div>
    </div>
</div>
