<div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title eb-garamond" id="myModalLabel">
        National Cheng Kung University, Taiwan
    </h2>
    <h3 class="modal-title eb-garamond" id="myModalLabel">
        Department of Earth Sciences
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-5">
            <h4>Notable Courses</h4>
            <ul>
                <li>Image Processing (with IDL)</li>
                <li>Remote Sensing Imagery Analysis</li>
                <li>Remote Sensing of Ocean Color</li>
                <li>Data Reduction (with IDL)</li>
                <li>Numerical Analysis</li>
                <li>Fluid Dynamics (CFD)</li>
                <li>2D Shallow Water Modeling</li>
                <li>Geographic Information Science (GIS)</li>
                <li>Ocean Wind Wave Analysis</li>
                <li>Observational Seismology</li>
            </ul>
        </div>
<div class="col-sm-7 h4">
    I left the Navy with an interest in <strong>satellite imagery</strong> and
    programming. I was excited to be accepted to the Earth Sciences department
    and to join the <strong>remote sensing laboratory</strong>. I dove into
    <strong>IDL</strong> programming and using <strong>ENVI</strong> software.
    I also started to teach myself <strong>Python</strong> at this time and how
    to use it for <strong>ArcGIS</strong> scripts, image processing and many other
    tasks.
    <br><br>
    My <em><strong>thesis project</strong></em> was to write software to effectively use a car-mounted
    panoramic camera (Ladybug3 Spherical Camera) in analyzing landslide imagery.
    The goal was to use <strong>GPS</strong> and structure-from-motion (<strong>SFM</strong>)
    techniques to estimate
    landslide scale from video images and to process multiple videos to make a
    <strong>time-series</strong> of landslide imagery.
</div>
    </div>
</div>
