<div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title eb-garamond" id="myModalLabel">
        Hawai'i Pacific University
    </h2>
    <h3 class="modal-title eb-garamond" id="myModalLabel">
        Department of Computer Science
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-5">
            <h4>Courses Include:</h4>
            <ul>
                <li>Statistics</li>
                <li>Data Structures</li>
                <li>C#</li>
                <li>Discrete Mathematics</li>
                <li>Calculus</li>
            </ul>
        </div>
<div class="col-sm-7 h4">
    While in the Navy, I was stationed on Oahu and I took nine courses in math and
    programming at HPU in my free time. Most classes were taught using <strong>Java</strong>
    and emphasized documentation with the Unified Modeling Language (<strong>UML</strong>).
</div>
    </div>
</div>
