<div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title eb-garamond" id="myModalLabel">Johns Hopkins University</h2>
    <h3 class="modal-title eb-garamond" id="myModalLabel">Data Science Specialization</h3>
</div>
<div class="modal-body">
<div class="row">
<div class="col-sm-5">
<h4>Courses Completed</h4>
<ul>
    <li>Intro to Data Science and Tools</li>
    <li>R Programming</li>
    <li>Getting and Cleaning Data</li>
    <li>Exploratory Data Analysis</li>
    <li>Reproducible Research</li>
    <li>Statistical Inference</li>
    <li>Regression Models</li>
</ul>
</div>
<div class="col-sm-7 h4">
    I enjoy <strong>analysis</strong> and <strong>statistics</strong>. When I found a
    data science series of ten courses offered by Johns Hopkins University
    on <strong>Coursera</strong>, I decided to enroll and see if the field is a good
    fit for me. I've enjoyed the courses so far but I've been busy with developing a database application for work
    and caring for two kids. I intend to finish the last three courses when
    I have time. All classes used the <strong>R</strong> programming language
    and required producing reports with <strong>RMarkdown</strong>.
</div>
</div>
</div>
