<div class="panel panel-default">
  <div class="panel-heading share-tech-mono text-center">
    <strong>Projects</strong>
  </div>
  <div class="panel-body" style="padding: 0px">
    <table class="table table-condensed table-hover">
      <tbody>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="SailsJS+Waterline, KnockoutJS">
            <strong>TAIMAO:</strong> Data-driven Web-based Business Application
          </td>
        </tr>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="Python, Tkinter, SQLAlchemy, MySQL, MatPlotLib">
            <strong>TAIMAO:</strong> MySQL Database and Application
          </td>
        </tr>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="Flask+SQLAlchemy, KnockoutJS, SSH, Ubuntu 14">
            <strong>UDACITY:</strong> Linux, Apache2, PostgreSQL, and Python Server Configuration
          </td>
        </tr>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="Python, Tkinter, PIL, Ctypes, OpenCV, MatPlotLib">
            <strong>NCKU:</strong> Ladybug3 Spherical Camera Image Processing Application
          </td>
        </tr>
        <tr>
          <td data-toggle="tooltip" data-placement="left"
              title="Java, Swing GUI">
            <strong>NAVY:</strong> Data Munger and Search Engine
          </td>
        </tr>
        <tr>
          <td>
            <strong>THIS SITE:</strong> Built using GruntJS, EJS, KnockoutJS, and Bootstrap
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
