<div class="panel panel-default">
  <div class="panel-heading share-tech-mono text-center">
    <strong>Versatile Programmer</strong>
  </div>
  <div class="panel-body" style="padding: 4px">
    <ul>
      <li>Data Cleansing & Analysis</li>
      <li>Database Design</li>
      <li>Multiple View Geometry</li>
      <li>Computational Fluid Dynamics</li>
      <li>Computational Investing</li>
      <li>Data-driven Web Applications</li>
      <li>PDF and Form Automation</li>
      <li>Excel Validation and Programming</li>
    </ul>
  </div>
</div>
